@import '../../../../styles/variables';
@import '../../../../styles/variables.module';


.days_wrapper {
  margin-top: 50px;
}
.days_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  margin-top: 7px;
  background-color: var(--components-background-default);
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

.tabs_wrapper {
  display: flex;
  justify-content: space-between;
}

.tabs {
  display: grid;
  column-gap: 15px;
  grid-template-columns: repeat(3, max-content);
}

.tab, .cancel {
  font-size: 18px;
  color: var(--text-color-default);
  background-color: var(--components-background-default);
  width: fit-content;
  padding: 8px 20px;
  border-radius: $border-radius /4;
  cursor: pointer;

  &.active {
    background-color: $primary-background;
    color: #fff;
  }

  &:hover {
    box-shadow: $box-shadow;
  }
}


.day_wrapper:hover {
  box-shadow: var(--card-shadow-default);
  cursor: pointer;
}

.day_wrapper {
  background: var(--card-background-default);
  border-radius: $border-radius /2;
  width: 150px;
  min-height: 200px;
  padding: 12px 11px;
  display: grid;
  row-gap: 7px;
  grid-template-rows: repeat(5, auto);

  .icon_id {
    width: 48px;
    height: 48px;
    margin: 5px -4px;
  }
  
  .temp_night, .info {
    color: $base-color;
    font-size: 13px;
  }
  .day_info {
    color: $base-color;
    font-size: 14px;
  }
  
  .day_name, .temp_day {
    color: var(--text-color-default);
    font-size: 18px;
    font-weight: bold;
  }

  .temp {
    display: flex;
    flex-direction: column;
  }
}
