$box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);

$light-background: #fff;
$dark-background: #0D1117;
$light-blur-bg: rgba(0, 0, 0, .25);
$dark-blur-bg: rgba(0, 0, 0, .61);

$light-color: #000;
$dark-color: #fff;

$base-color: #939CB0;
$primary-background: #4793FF;


$body-background-dark: #0D1117;
$body-background-light: #fff;

$components-background-dark: #4F4F4F;
$components-background-light: #fff;

$card-background-dark: #2E3035;
$card-background-light: rgb(71, 147, 255, .2);

$card-shadow-dark:  0px 3px 20px 0px #05050547;
$card-shadow-light: 0px 3px 20px 0px #93909047;

$text-color-dark: #fff;
$text-color-light: #000;


:root {
  --body-background-dark: #{$body-background-dark};
  --body-background-light: #{$body-background-light};
  --body-background-default: var(--body-background-light);
  
  --components-background-dark: #{$components-background-dark};
  --components-background-light: #{$components-background-light};
  --components-background-default: var(--components-background-light);
  
  --card-background-dark: #{$card-background-dark};
  --card-background-light: #{$card-background-light};
  --card-background-default: var(--card-background-light);

  --card-shadow-dark: #($card-shadow-dark);
  --card-shadow-light: #($card-shadow-light);
  --card-shadow-default: #($card-shadow-light);

  --text-color-dark: #{$text-color-dark};
  --text-color-light: #{$text-color-light};
  --text-color-default: var(--text-color-light);
}