@import '/src/styles/variables.scss';


.item {
  display: grid;
  grid-template-columns: 38px 100px auto;
  align-items: center;
  column-gap: 20px;
  font-size: 14px;

  .indicator {
    padding: 9px;
    border-radius: 50%;
    box-shadow: $box-shadow;
  }
  .indicator_name {
    color: $base-color;
  }
  .indicator_value {
    color: $lite-color;
  }
}